@Model { List <T2210M_MVC1.Models.UserRegisterModel>} 
@{
        ViewData["Title"] = "Table";
        // var ls = ViewData["user"];
        //  var ls = ViewBag.user;

    }

    <div class="text-center">
        <h1>User Categories (Quantity:@Model.Count)</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Telephone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (T2210M_MVC1.Models.UserRegisterModel item in Model)
                {
                    <tr>
                          <td>@item.id</td>
                          <td>@item.Email</td>
                          <td>@item.Fullname</td>
                          <td>@item.Telephone</td>
                    </tr>
                }

        </tbody>
    </table>
</div>

